.card {
    border-radius: 4px;
    color: #00374b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.card-details {
    border-bottom: gray solid 1px;
    margin-bottom: 20px;
}
